body {
  background-color: rgba(0, 0, 0, 0.845);
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  display: table-cell;
  vertical-align: middle;
}

html, body {
  height: 100%;
  width: 300px;
}

html {
  display: table;
  margin: auto;
}